<?xml version="1.0" encoding="utf-8"?>

<configuration>
	


	<connectionStrings>
		<add name="RavenDB" connectionString="DataDir=Data" />
	</connectionStrings>
	<appSettings>
		<add key="SuppressPolling" value="true" />
		<add key="EmbeddedRavenDBManagementPort" value="8081" />
		<add key="WebPort" value="8082" />
		<add key="EmbedRavenDB" value="true" />
		<add key="DefaultRavenDBTenant" value="RabbitOperations" />
		<add key="AllowDevelopmentMode" value="true" />
		<add key="Raven/Licensing/AllowAdminAnonymousAccessForCommercialUse" value="true" />
		<add key="Raven/MaxSecondsForTaskToWaitForDatabaseToLoad" value="600" />
		
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	
</configuration>
