<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" userInstalled="true" />
  <package id="jQuery" version="1.6.4" targetFramework="net45" userInstalled="true" />
  <package id="Metrics.NET" version="0.3.2-pre" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Nancy" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Nancy.Bootstrappers.Windsor" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Nancy.Metrics" version="0.3.2-pre" targetFramework="net451" userInstalled="true" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Nancy.Viewengines.Razor" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1-beta1" targetFramework="net451" userInstalled="true" />
  <package id="NLog" version="3.2.1" targetFramework="net451" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net45" userInstalled="true" />
  <package id="Polly" version="2.2.1" targetFramework="net451" userInstalled="true" />
  <package id="RabbitMQ.Client" version="3.5.3" targetFramework="net451" userInstalled="true" />
  <package id="RavenDB.Client" version="3.0.3660" targetFramework="net451" userInstalled="true" />
  <package id="RavenDB.Database" version="3.0.3660" targetFramework="net451" userInstalled="true" />
  <package id="SouthsideUtility.Core" version="0.16.0.0" targetFramework="net451" userInstalled="true" />
  <package id="Topshelf" version="3.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Topshelf.NLog" version="3.2.0" targetFramework="net451" userInstalled="true" />
</packages>