#ignore outputs of project
BuildOutput*/
TestResults*/
v__*/
tools/Reports/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
*.zip
*.psd
*.bak
*.css.map
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
doc/
_ReSharper*/
[Tt]est[Rr]esult*
zzz_*
Files/temp/**
_[Bb]ackup*/*
_[Uu]pgrade*/*
relre:/*.ReSharper
*_tcabanski
src/packages/*/*
Ronaele.6.0.ReSharper
tests/coverage.xml
tests/coverage.xml.bkp
temp.config_output
NDependOut/**/*.*
*.nccov
tests/NDepend/Output/**
Ronaele.6.1.ReSharper
app/Ronaele.UI.Web/Data/*
Autobahn.RulesExecutionProduct.*.dll
node_modules
ScriptsBuilt
*.chw
!tools/nodejs/node_modules/jshint/bin
!tools/nodejs/node_modules/requirejs/bin
UpgradeLo*

# Stuff for Macs
.DS_Store
.apdisk
*/**/.DS_Store
# End Macs

*.swp
*.css.map
*customLocalAddress.txt
_NCrunch_*
