<div class="modal-header">
    <h1>Message {{message.item.id}}</h1>
    <span>Press ESC to close</span>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <td>Application</td>
                <td tooltip="Time sent">Sent</td>
                <td tooltime="Time to handle message">Processing Time</td>
                <td tooltip="Total time from message send to message handled">Total Time</td>
                <td>Error</td>
                <td>Can Retry</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{message.item.applicationId}}</td>
                <td>{{message.timeSent}}</td>
                <td>{{message.processingTime}}</td>
                <td>{{message.totalTime}}</td>
                <td>{{message.item.isError}} ({{message.item.additionalErrorStatusString}})</td>
                <td>{{message.item.canRetry}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4>
            Headers
            <span ng-click="displayHeaders = true" ng-show="!displayHeaders" class="clickable">[+]</span>
            <span ng-click="displayHeaders = false" ng-show="displayHeaders" class="clickable">[-]</span>
        </h4>
    </div>
    <div collapse="!displayHeaders" hljs source="message.headers">
    </div>
    <h4>
        Body
        <span ng-click="displayBody = true" ng-show="!displayBody" class="clickable">[+]</span>
        <span ng-click="displayBody = false" ng-show="displayBody" class="clickable">[-]</span>
    </h4>
    <div collapse="!displayBody" hljs source="message.body">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!message.item.canRetry" ng-click="retry()">Retry</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>