<div class="modal-header">
    <h1>Set Retry Destination</h1>
    <span>Press ESC to cancel</span>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-lg-8 col-sm-8 col-xs-8">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="exchange">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="retry()" type="submit">Retry</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
