@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
<div id="content"></div>
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="@Url.Content("~/lib/showdown/showdown.min.js")"></script>
    <script src="@Url.Content("~/js/Tutorial.jsx")"></script>
</body>
</html>