@using RabbitOperations.Collector.Configuration.Interfaces

@{
    ViewBag.Title = "Dashboard";
    ViewBag.Subtitle = "Statistics";
}

@section PageToolbar {
<div class="page-toolbar">
<div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
    <i class="icon-calendar"></i>&nbsp;
    <span class="thin uppercase hidden-xs"></span>&nbsp;
    <i class="fa fa-angle-down"></i>
</div>
</div>
}

<!-- BEGIN CONTENT -->
<!-- BEGIN DASHBOARD STATS 1-->
<div class="row">
    @*@foreach (var environment in settings.Environments)
    {*@
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>1.3/s</span>
                    </div>
                    <div class="desc"> Audits </div>
                </div>
                <a class="more" href="javascript:;">
                    Search
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>1.0/s</span>
                    </div>
                    <div class="desc"> Errors </div>
                </div>
                <a class="more" href="javascript:;">
                    Search
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    @*}*@
</div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Site Visits</span>
                    <span class="caption-helper">weekly stats...</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn red btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">New
                        </label>
                        <label class="btn red btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Returning
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="site_statistics_loading">
                    <img src="~/assets/global/img/loading.gif" alt="loading"/>
                </div>
                <div id="site_statistics_content" class="display-none">
                    <div id="site_statistics" class="chart"> </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Revenue</span>
                    <span class="caption-helper">monthly stats...</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            Filter Range
                            <span class="fa fa-angle-down"> </span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    Q1 2014
                                    <span class="label label-sm label-default"> past </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Q2 2014
                                    <span class="label label-sm label-default"> past </span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="javascript:;">
                                    Q3 2014
                                    <span class="label label-sm label-success"> current </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Q4 2014
                                    <span class="label label-sm label-warning"> upcoming </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="site_activities_loading">
                    <img src="~/assets/global/img/loading.gif" alt="loading"/>
                </div>
                <div id="site_activities_content" class="display-none">
                    <div id="site_activities" style="height: 228px;"> </div>
                </div>
                <div style="margin: 20px 0 10px 30px">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-success"> Revenue: </span>
                            <h3>$13,234</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-info"> Tax: </span>
                            <h3>$134,900</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-danger"> Shipment: </span>
                            <h3>$1,134</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-warning"> Orders: </span>
                            <h3>235090</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<div class="row">
<div class="col-md-6 col-sm-6">
<div class="portlet light bordered">
<div class="portlet-title">
    <div class="caption">
        <i class="icon-share font-blue"></i>
        <span class="caption-subject font-blue bold uppercase">Recent Activities</span>
    </div>
    <div class="actions">
        <div class="btn-group">
            <a class="btn btn-sm blue btn-outline btn-circle" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                Filter By
                <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                <label>
                    <input type="checkbox"/> Finance
                </label>
                <label>
                    <input type="checkbox" checked=""/> Membership
                </label>
                <label>
                    <input type="checkbox"/> Customer Support
                </label>
                <label>
                    <input type="checkbox" checked=""/> HR
                </label>
                <label>
                    <input type="checkbox"/> System
                </label>
            </div>
        </div>
    </div>
</div>
<div class="portlet-body">
<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
<ul class="feeds">
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-check"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    You have 4 pending tasks.
                    <span class="label label-sm label-warning ">
                                                                Take action
                                                                <i class="fa fa-share"></i>
                                                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> Just now </div>
    </div>
</li>
<li>
    <a href="javascript:;">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Finance Report for year 2013 has been released. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 20 mins </div>
        </div>
    </a>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-danger">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 24 mins </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received with
                    <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 30 mins </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-success">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 24 mins </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-default">
                    <i class="fa fa-bell-o"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Web server hardware needs to be upgraded.
                    <span class="label label-sm label-default "> Overdue </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 2 hours </div>
    </div>
</li>
<li>
    <a href="javascript:;">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-briefcase"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> IPO Report for year 2013 has been released. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 20 mins </div>
        </div>
    </a>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-check"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    You have 4 pending tasks.
                    <span class="label label-sm label-warning ">
                                                                Take action
                                                                <i class="fa fa-share"></i>
                                                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> Just now </div>
    </div>
</li>
<li>
    <a href="javascript:;">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-danger">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> Finance Report for year 2013 has been released. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 20 mins </div>
        </div>
    </a>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-default">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 24 mins </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-info">
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    New order received with
                    <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 30 mins </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-success">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 24 mins </div>
    </div>
</li>
<li>
    <div class="col1">
        <div class="cont">
            <div class="cont-col1">
                <div class="label label-sm label-warning">
                    <i class="fa fa-bell-o"></i>
                </div>
            </div>
            <div class="cont-col2">
                <div class="desc">
                    Web server hardware needs to be upgraded.
                    <span class="label label-sm label-default "> Overdue </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="date"> 2 hours </div>
    </div>
</li>
<li>
    <a href="javascript:;">
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-briefcase"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc"> IPO Report for year 2013 has been released. </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date"> 20 mins </div>
        </div>
    </a>
</li>
</ul>
</div>
<div class="scroller-footer">
    <div class="btn-arrow-link pull-right">
        <a href="javascript:;">See All Records</a>
        <i class="icon-arrow-right"></i>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cursor font-purple"></i>
                    <span class="caption-subject font-purple bold uppercase">General Stats</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                        <i class="fa fa-repeat"></i> Reload
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="easy-pie-chart">
                            <div class="number transactions" data-percent="55">
                                <span>+55</span>%
                            </div>
                            <a class="title" href="javascript:;">
                                Transactions
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="easy-pie-chart">
                            <div class="number visits" data-percent="85">
                                <span>+85</span>%
                            </div>
                            <a class="title" href="javascript:;">
                                New Visits
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="easy-pie-chart">
                            <div class="number bounce" data-percent="46">
                                <span>-46</span>%
                            </div>
                            <a class="title" href="javascript:;">
                                Bounce
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-yellow"></i>
                    <span class="caption-subject font-yellow bold uppercase">Server Stats</span>
                    <span class="caption-helper">monthly stats...</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_bar5"></div>
                            <a class="title" href="javascript:;">
                                Network
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_bar6"></div>
                            <a class="title" href="javascript:;">
                                CPU Load
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm"> </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div class="number" id="sparkline_line"></div>
                            <a class="title" href="javascript:;">
                                Load Rate
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
