<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" userInstalled="true" />
  <package id="Polly" version="4.3.0" targetFramework="net46" userInstalled="true" />
  <package id="PowerArgs" version="2.7.1.0" targetFramework="net46" userInstalled="true" />
  <package id="RabbitMQ.Client" version="3.6.1" targetFramework="net46" userInstalled="true" />
</packages>