@using Nancy.ViewEngines.Razor
@using Nancy.ViewEngines.Razor
@using RabbitOperations.Collector.Web
@using RabbitOperations.Collector.Web.Helpers
<div class="row" ng-controller="dashboardController">
    <div class=""></div>
    <h4>
        Queues
        <span ng-click="displayStats = true" ng-show="!displayStats" class="clickable">[+]</span>
        <span ng-click="displayStats = false" ng-show="displayStats" class="clickable">[-]</span>
    </h4>
    <div collapse="!displayStats">

        <div class="input-group">
            <span>Message rates averaged over:&nbsp;</span>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="displayRate" btn-radio="1">1 min</label>
                <label class="btn btn-primary" ng-model="displayRate" btn-radio="5">5 min</label>
                <label class="btn btn-primary" ng-model="displayRate" btn-radio="15">15 min</label>
                <label class="btn btn-primary" ng-model="displayRate" btn-radio="mean">Lifetime</label>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td>Application</td>
                    <td>Audit Queue</td>
                    <td>Error Queue</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="application in evenApplications">
                    <td class="link" ng-click="quickSearch(application.applicationId)">{{application.applicationName}}</td>
                    <td class="link queueRate" ng-click="quickSearch(application.applicationId, false)" ng-class="{'newAudits': application.auditQueue.oldCount !== undefined && application.auditQueue.oldCount !== application.auditQueue.count}">{{application.auditQueue.displayRate}}/s</td>
                    <td class="link queueRate" ng-click="quickSearch(application.applicationId, true)" ng-class="{'newErrors': application.errorQueue.oldCount !== undefined && application.errorQueue.oldCount !== application.errorQueue.count}">{{application.errorQueue.displayRate}}/s</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-sm-6">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <td>Application</td>
                    <td>Audit Queue</td>
                    <td>Error Queue</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="application in oddApplications">
                    <td class="link" ng-click="quickSearch(application.applicationId)">{{application.applicationName}}</td>
                    <td class="link queueRate" ng-click="quickSearch(application.applicationId, false)" ng-class="{'newAudits': application.auditQueue.oldCount !== undefined && application.auditQueue.oldCount !== application.auditQueue.count}">{{application.auditQueue.displayRate}}/s</td>
                    <td class="link queueRate" ng-click="quickSearch(application.applicationId, true)" ng-class="{'newErrors': application.errorQueue.oldCount !== undefined && application.errorQueue.oldCount !== application.errorQueue.count}">{{application.errorQueue.displayRate}}/s</td>
                </tr>
                </tbody>
            </table>
        </div>
        <table class="table table-striped table-condensed">
        </table>
        <div class="col-lg-2 col-xs-3 col-sm-2 placeholder" ng-repeat="queue in queues">
            <div ng-class="{greenHolder: !queue.queueSettings.isErrorQueue, redHolder: queue.queueSettings.isErrorQueue}" ng-click="quickSearch(queue.queueSettings.applicationId, queue.queueSettings.isErrorQueue)" alt="Generic placeholder thumbnail" holder-fix>
                <span>{{queue.messageRate > 0 ? queue.messageRate : 0}}/sec</span>
            </div>
            <span class="link" ng-click="quickSearch(queue.queueSettings.applicationId)"><h4>{{queue.queueSettings.applicationName}}</h4></span>
            <span class="link" ng-click="quickSearch(queue.queueSettings.applicationId, queue.queueSettings.isErrorQueue)" class="text-muted">{{queue.queueSettings.isErrorQueue ? 'Error' : 'Audit'}}</span>
        </div>
    </div>
</div>