@{
    ViewBag.Title = "Rabbit Operations";
    Layout = "layout.cshtml";
}

<div>
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders" ng-controller="dashboardController">
        <div class="col-xs-4 col-sm-2 placeholder" ng-repeat="queue in queues">
            <div ng-class="{greenHolder: !queue.queueSettings.isErrorQueue, redHolder: queue.queueSettings.isErrorQueue}" alt="Generic placeholder thumbnail" holder-fix>
                <span>{{queue.messageRate > 0 ? queue.messageRate : 0}}/sec</span></div>
            <h4>{{queue.queueSettings.environmentName}}</h4>
            <span class="text-muted">{{queue.queueSettings.queueName}}</span>
        </div>
    </div>

    <div ng-controller="searchController">
        <h2 class="sub-header">Message Search</h2>
        <form>
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-8">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="formInfo.searchString" placeholder="Search for messages...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="newSearch()" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            <button class="btn btn-default" popover-title="Fields" popover="Any (default) incudes all fields + body or use ClassName, IsError, EnvironmentId, TimeSent. (e.g. IsError:false AND EnvironmentId:real-prod)" type="submit"><i class="glyphicon glyphicon-question-sign"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="pageInfo.take" btn-radio="20">20</label>
                            <label class="btn btn-primary" ng-model="pageInfo.take" btn-radio="50">50</label>
                            <label class="btn btn-primary" ng-model="pageInfo.take" btn-radio="100">100</label>
                        </div>
                        <span>&nbsp; Per Page</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Environment</th>
                    <th>Class</th>
                    <th>Time Sent</th>
                    <th>Is Error</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable" ng-repeat="result in searchResults.results" ng-click="showDetails(result, $event)">
                    <td>{{result.id}}</td>
                    <td>{{result.environmentId}}</td>
                    <td>{{result.messageTypes.length > 0 ? result.messageTypes[0].className : 'UNK'}}</td>
                    <td>{{result.timeSent}}</td>
                    <td>{{result.isError}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4">
            <pager ng-show="pageInfo.totalPages > 1" total-items="pageInfo.totalItems" ng-model="pageInfo.page" ng-change="search()"></pager>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4 pull-right">
            <pre ng-show="pageInfo.totalPages > 1">Page: {{pageInfo.page}} / {{pageInfo.totalPages}}</pre>
        </div>
    </div>
</div>

@section Script {
    <script src="/content/SignalR/jquery.signalR-2.2.0.min.js"></script>
    <script src="../signalr/hubs" type="text/javascript"></script>
    <script src="/content/App/Dashboard/dashboardController.js"></script>
    <script src="/content/App/Dashboard/searchController.js"></script>
}