<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" userInstalled="true" />
  <package id="NLog" version="4.3.5" targetFramework="net46" userInstalled="true" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net451" userInstalled="true" />
  <package id="SouthsideUtility.Core" version="0.19.0.0" targetFramework="net451" userInstalled="true" />
</packages>